%header.header-right
  .header-right__group
    =@group.name
  .header-right__member
    - @group.users.each do |user|
      = user.name
  %button.header-right__edit
    = link_to edit_group_path(@group.id) do
      Edit
= render "shared/side-bar"
.main--contents
  = render @messages

.bottom--contents
  = form_for [@group, @message], html: {class: 'jquery-api__form'} do |f|
    = f.text_field :content, class: 'bottom--contents__message jquery-api__text', placeholder: 'type a message'
    .filelabel
      =f.label :image, class: 'filelabel' do
        = fa_icon 'pic', class: 'fa fa-photo photo'
        = f.file_field :image, class: 'hidden jquery-api__pic'
      = f.submit 'Send', class: 'bottom-button'
