%header.header-right
  .header-right__group
    =@group.name
  .header-right__member
    - @group.users.each do |user|
      = user.name
  %button.header-right__edit Edit
= render "shared/side-bar"
.main--contents
  = render @messages

  / .main--contents__name-date
  /   .main--contents__name-date__name seo
  /   .main--contents__name-date__date 2019/03/31 10:43:51
  / .main--contents__text Good bye world！
.bottom--contents
  = form_for [@group, @message], html: {class: 'jquery-api__form'} do |f|
    = f.text_field :content, class: 'bottom--contents__message jquery-api__text', placeholder: 'type a message'
    .filelabel
      =f.label :image, class: 'filelabel' do
        = fa_icon 'pic', class: 'fa fa-photo photo'
        = f.file_field :image, class: 'hidden jquery-api__pic'
      = f.submit 'Send', class: 'bottom-button'


  / %input.bottom--contents__message{type: :text, name: :message, value: 'type a message'}
  / %labels
  /   %span.filelabel
  /     %i.fa.fa-photo.photo
  /       %input.filesend{type: :file, name: :img}
  / %button.bottom--contents__button Send
