%header.header-left
  %h3.header-left__name
    = current_user.name
  %ul
    = link_to new_group_path do
      %li.fa.fa-pencil-square-o.icon
    = link_to edit_user_path(current_user) do
      %li.fa.fa-gear.icon
.side-contents
  .side-contents__groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .side-contents__groups__group
            = group.name
          .side-contents__groups__message
            = group.show_last_message
